body{ /* menghilangkan margin pada body dan memberi warna putih pada semua huruf */
    margin: 0;
    color: white;
}

.kiri{ /* membuat konten sebelah kiri */
    float: left;
    height: 100vh;
    background-color: #6D8299;
    width: 50%;
}

.ver{ /* untuk center vertikal dan horzontal konten sebelah kiri */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.kanan{  /* untuk membuat konten sebelah kanan berjajar dengan konten kiri */
    float: left;
    width: 50%;
    height: 100vh;
    background-color:#8CA1A5;
}

.ver-right{ /* untuk center vertikal dan horizontal konten sebelah kanan */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 75%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.tebal{ /* membuat font menjadi bold */
    font-weight: bold;
}